<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<php>
		<!-- Enable the assert() function calls in php-shm-cache. You will also need
		to set zend.assertions=1 in your php.ini, as it can't be set during runtime. -->
		<ini name="assert.active" value="1" />
		<ini name="assert.bail" value="0" />
		<ini name="assert.exception" value="On" />
    <const name="SHMCACHE_VALIDATE_LOCK_RULES" value="1" />
	</php>
	<testsuites>
		<testsuite>
			<!-- Will be traversed recursively -->
      <directory suffix="Test.php">./tests/src/Crusse/ShmCache/Tests</directory>
		</testsuite>
	</testsuites>
</phpunit>

